body{
    background-color: black;
}
/*div.card{
    width: 40%;
    margin: auto;
    background-color: white;
}*/
/*div.header-card{
    padding: 20%;
}*/
/*div.image {
    width: 100%;
}*/
div.content-card{
    padding: 20px;
}

h1{
    color: red;
}